:root{
    /** Global Variables **/
    --main-text-color: rgb(35,35,35);
    --main-background-color: rgb(240,240,240);

    --primary-color: #f4a261;
    --primary-color-ligthen: #e9c46a;
    --primary-color-darken: #e76f51;

    --secondary-color: rgb();
    --secondary-color-ligthen: #2a9d8f;
    --secondary-color-darken:#264653;

    /** Global Colors **/
    background-color: var(--main-background-color);
    color: var(--main-text-color);

    /** Global Font **/
    font-family: "Lucida Console", "Courier New", monospace;

    /** Global Spacings **/
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
}

/** Headings **/    
h1 {
    font-size: 64px;
    font-weight: 500;
}

h2 {
    font-size: 38px;
    font-weight: 500;
}

h3 {
    font-size: 32px;
    font-weight: 400;
}


/** Sections **/
body {
    display: flex;
    flex-direction: column;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}

section.game-screen{
    display: none;
}

section.game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    gap: 2px;
    font-size: 82px;
    font-weight: 700;
}

section.game-board div.cell {
    border: 4px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;

}

section.game-meta p.active-player {
    font-size: 32px;
}

section.game-meta p.active-player span.marker{
    color: var(--primary-color-darken);
    font-weight: 900;
}

section.game-control {
    display: flex;
    gap: 20px;
    
}

section.game-control input {
    font-size: 32px;
    padding: 20px 40px;
    border-radius: 8px;
    background-color: var(--secondary-color-ligthen);
}

section.game-control input:hover {
    background-color: var(--main-background-color);
    cursor: pointer;
}

.highlight-cell {
    background-color: var(--secondary-color-ligthen);
    box-shadow: 0px 0px 40px var(--secondary-color-ligthen);
}

section.player-selection-screen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header"
        "one two";
    gap: 20px;
}

section.player-selection-screen h2 {
    grid-area: header;
}

section.player-selection-screen div.selection {
    border: 2px solid #264653;
    box-shadow: 0px 0px 10px #264653;
    border-radius: 8px;
    padding: 20px;
}
section.player-selection-screen div.selection .slider {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

section.player-selection-screen div.selection .slider div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

section.player-selection-screen div.selection .slider div input {
    font-size: 18px;
    border-radius: 6px;
    padding: 10px 20px;
}

section.player-selection-screen div.selection .slider div input:hover {
    background-color: #2a9d8f;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 10px #2a9d8f;
}

section.player-selection-screen div.selection .slider div input[type="radio"] {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    transition: 0.2s all linear;
  }

section.player-selection-screen div input{
    font-size: 24px;
    padding: 15px 30px;
    border-radius: 8px;
    background-color: var(--primary-color-ligthen);
  }

section.player-selection-screen div input:hover {
    background-color: var(--main-background-color);
    cursor: pointer;
    box-shadow: 0px 0px 20px var(--primary-color-ligthen);
}


section.game {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}